
* { 
   margin: 3px;
   padding: 3px;
}

body {
 background-color: #96fbab 
}

butn{
   display: flex;
   margin-top: 2em; 
   width:90%;
   height: auto;
   margin-left: auto;
   margin-right: auto;

   border-stylr:solid;
   border-color: white;
   border-width:5px;
   border-radius: 5px;
}
.flex-container{
   display: flex;
   flex-direction:row;
   flex-wrap: nowrap;
}
.flex-iteam{
   flex-basis: 100%;
   margin: 1%;
}

/* STYLE NAV BAR */
.navbar{
  ul{list-style-type: none;
  background-color:#069323; 
  overflow: hidden;
  padding:1em;
     text-align: center;
    }
}
li{
  display: inline;
}

li a{
  text-decoration: none;
  color: white;
  font-size: 0.5cm;
  padding: 1em;
}

li a:hover{
  background-color:#09d433;
}
/* STYLE BUTTONS */

/* ADD MORE! */
.info{
   color:#046718;
   font-family:monospace;
   text-align:center;
}
h1 {
  color: #046718;
  font-size:39px;
  text-align:center;
}

h3 {
  color:#046718;
  font-size:24px;
  text-align:center;
}

happy{
  main{
    background-color:#40f866; 
      color:#046b19;
       font-family::monospace;
    border: 3px solid white;
     test-align:center;

  }
}/* trying to change the text alignment, font and color*/

.block{background-color:#40f866; 
    color:#046b19;
     font-family:monospace;;
  border: 3px solid white;}

@media screen and (max-width:850px){
   .flex-container{
      flex-wrap:wrap;
   }

}